<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>

    <h1 class="header">Url Shortener</h1>
    <div class="home-page">
        <div id="longUrl"> <%= ShortenUrl ? ShortenUrl : "No URL available" %></div>
        <form action="/shorten-url" method="post">
            <label for="longurl">Enter long url:</label>
            <input type="text" name="longUrl" id="longurl">
            <button type="submit">Shorten</button>
        </form>
    </div>

</body>

</html>