<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URl shortener</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<div class="header">Url shortener</div>

<body class="landing-page">
    <h1>Welcome to URl shortener</h1>
    <a href="/home">Continue as Guest</a>
    <h2>OR</h2>
    <a href="/login">Login</a>
</body>


</html>